body {
    background-color: #EEEEEE;
}

header {
    background-color: #282895;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202070;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6D6DE2;
}

.active {
    background-color: #5757AB;
}


.btn {
  background-color: #282895;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {opacity: 0.6}



footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282895;
    color: white;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;










